.js-disabled-message-div{
    background-color: coral;
    color:white;
    margin-left:2px;
    margin-right:2px;
    padding-left: 4px;
    text-align: center;
    font-family: 'Antonio', sans-serif;
}

.logo-bar{
    background-color: #f1f5f8;
    margin-top: 5px;
    padding-top:20px;
    color: #3A5F7C;
}
.logo{
    font-family: 'Anton', sans-serif;
    font-size: min(max(30px, 7vw), 60px);
}
.logo-info{
    font-family: 'Ubuntu Condensed', sans-serif;
}
.open-sign{
    width: fit-content;
    color:white;
    background-color: lightgreen;
    padding: 4px;
}
.closing-soon-sign{
    width: fit-content;
    color:white;
    background-color: coral;
    padding: 4px;
}
.closed-sign{
    width: fit-content;
    color:white;
    background-color: red;
    padding: 4px;
}
.test-div{
    overflow: hidden;
    white-space: nowrap;
}
.button{
    width: 33%;
    color: white;
    background-color: #3A5F7C;
    border-radius: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: min(max(18px, 10vw), 16px);
    /* font-family: 'Antonio', sans-serif; */
}
.button:hover{
    color:white;
    background-color: #86A3BA;
}
.button:focus {
    outline: none;
    box-shadow: none;
}
body{
    /* font-family: 'Signika Negative', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    background-color: #f1f5f8;
}
.menu-heading{
    color: #3A5F7C;
    font-size: min(max(30px, 7vw), 50px);
    background-color: #f1f5f8;
    padding-top:15px;
}
.menu-div-content{
    padding-left:20px;
    padding-right:20px;
}
.left{
    float: left;
    margin-left: 10px;
}
.right{
    float: right;
}
.modal{
    margin-top: 10%;
}
.modal-content{
    padding:10px;
}
.popular-item-heading{
    padding-bottom:15px;
}
.popular-images{
    width: 100%;
}
.popular-item-text{
    margin-top:8px;
    margin-bottom:8px;
}
.popular-item-text-description{
    font-style: italic;
    font-size: 90%;
    color: grey;
    margin-top: -8px;
    margin-bottom: 25px;
}
.bottom-left-image{
    position: absolute;
    bottom: 8px;
    left: 16px;
}
th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: 450;
}
.footer-div{
    margin-top:20px;
    padding:2%;
    background-color: black;
    color: white;
}

#dark-mode-btn{
    border: white;
}

@media (prefers-color-scheme: dark) {

    body{
        background-color: #202124;
        color: #86A3BA;
    }
    .logo-bar{
        background-color: #202124;
        color: #86A3BA;
    }
    .popular-item-text{
        color: lightgrey;
    }
    .modal-content{
        background-color: #202124;
        color: lightgrey;
    }
    .menu-heading{
        background-color: #202124;
        color: #86A3BA;
    }
    th, td {
        color: lightgrey;
        font-weight: 400;
    }

}